<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MotivationalQuotes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MotivationalQuotes.styles.css" asp-append-version="true" />
    <style>
        .hero {
            position: relative;
            text-align: center;
            padding: 100px 20px;
            background: url('/Images/mountain.jpg') no-repeat center center/cover;
            color: white background-size: contain;
        }

        .hero::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            /* Adjust the opacity as needed */
            z-index: 1;
        }

        .hero h1,
        .hero p,
        .hero .btn {
            position: relative;
            z-index: 2;
        }

        .hero h1 {
            font-size: 48px;
            margin-bottom: 20px;
        }

        .hero p {
            font-size: 24px;
            margin-bottom: 40px;
        }

        .hero .btn {
            padding: 10px 20px;
            font-size: 18px;
            background-color: #ff6600;
            color: white;
            text-decoration: none;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <header>
        <div class="logo">Postive Affirmations 😊f the Day</div>
        <nav>
            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/dashboard">Dashboard</a></li>

                }
                else
                {
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#quotes">Quotes</a></li>
                    <li><a href="#contact">Contact</a></li>
                }
            </ul>
        </nav>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <footer>
        <p>© 2024 Motivational Quotes. All rights reserved.</p>
        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Contact</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
